<div id="<%= dom_id categories_payment %>">
  <p>
    <strong>Categories:</strong>
    <%= categories_payment.Categories %>
  </p>

  <p>
    <strong>References:</strong>
    <%= categories_payment.references %>
  </p>

  <p>
    <strong>Payments:</strong>
    <%= categories_payment.Payments_id %>
  </p>

</div>
