footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3778c2;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    margin: 0;
  }
}
