<%= stylesheet_link_tag "footer"%>
<footer> 
    <p>
        Copyright &copy; 2022 
    </p>

    <p>
        Addis Tsega 
    </p>

    <p>
        <a href="mailto:betsega23@gmail.com"> betsega23@gmail.com</a>
    </p>
</footer>